body {
  margin: 0 auto;
  padding: 1em;
  font-family: sans-serif;
  width: 90%;
  background: #686868;
}

.mainHeader {
  background: #66b5a5;
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
  position: relative;
  margin: 1em 0;
}


.mainHeader > span{
  font-size: 2.5em;
  color: #ffffff;
}

.cart{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 1.5em;
  margin-right: 1.3em;
}

.cartItems{
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 1.3em;
  color: #ffffff;
}

img{
  height: 100%;
  width: 100%;
  transition: all 0.7s;
}

.imageClick{
  display: inline-block;
  border: 1px solid black;
  height: 400px;
  margin: 0.5em 0.67%;
  width: 30%;
  padding: 10px;
  position: relative;
}

.addToCart{
  position: absolute;
  bottom: 5%;
  right: 5%;
  height: 40px;
  width: 40px;
}

.product{
  box-shadow: 7px 7px 5px black;
}

img:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.removeIcon:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.checkoutItem{
  display: flex;
  margin: 1.5em;
}

.checkoutItem  div{
  width: 10%;
  margin: auto 1em;
  position: relative;
}

.checkoutItem  span{
  margin: auto 1em;
  font-size: 1.5em;
}

.checkoutItem  input{
  width: 5%;
  margin: auto 1em;
  font-size: 1.5em;
}

.removeIcon{
  top:5px;
  right:5px;
  transition: all 0.7s;
  position: absolute;
  width: 20%;
  height: 20%;
}







